@charset "utf-8";

/* common */

body {
  margin: 0;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
  font-weight: normal;
  font-size: 20px;
}

h3 {
  margin: 0;
  font-weight: normal;
  font-size: 16px;
}

p {
  margin: 0;
}

img {
  vertical-align: bottom;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  width: calc(100% - 64px);
  box-sizing: border-box;
  padding: 32px 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  opacity: 0.7;
}

/* products */

.products {
  margin-top: 32px;
}

.products ul {
  list-style: none;
  margin: 32px 0 0;
  padding: 0;
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
}

.products li {
  width: calc((100% - 64px) / 3);
  box-sizing: border-box;
}

.products img {
  width: 100%;
  height: auto;
}

.products h3 {
  margin-top: 8px;
}

/* footer */

footer {
  margin-top: 32px;
  text-align: center;
}

small {
  font-size: 14px;
}

/* product */

.product {
  display: flex;
  gap: 32px;
  margin-top: 32px;
}

.product div {
  flex: 1;
}

.product p {
  margin-top: 16px;
}

.product button {
  margin-top: 16px;
  padding: 8px 16px;
  cursor: pointer;
}

.product img {
  width: 100%;
  height: auto;
}