@charset "utf-8";

body {
  margin: 0;
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

section {
  border: 1px solid lightgray;
  width: 400px;
  margin: 32px auto 0;
  border-radius: 8px;
}

h1 {
  margin: 0;
  padding: 8px;
  text-align: center;
  border-bottom: 1px solid lightgray;
  font-size: 20px;
}

p {
  margin: 0;
  padding: 8px;
  line-height: 1.6;
}

/* 

メモ

・ボックスモデル

・Web デザイン
長さを決める場合、 16px をベースにすることが多い。
長さを決めるのに迷ったときは 16px の倍数か、その半分の 8px 、さらにその半分の 4px の倍数にするといったルールにしておくと、統一感のあるデザインになる。

・margin の相殺

・line-height
単位なしで指定しておくと、変更に強いコードになる。

・スタイルの継承

・ユーザーエージェントスタイルシート
ブラウザがデフォルトで持っているスタイルシート。

*/
