@charset "utf-8";

.box {
  width: 80px;
  height: 80px;
  background: pink;
  /* transition: transform 1s; */
  /* transition: border-radius 1s; */
  transition: transform 1s, border-radius 1s;
}

.box:hover {
  transform: translateX(100px);
  border-radius: 50%;
}