@charset "utf-8";

article {
  display: flex;
  gap: 16px;
  align-items: center;
}

article + article {
  margin-top: 32px;
}

article:nth-child(even) {
  flex-direction: row-reverse;
}

.text {
  flex: 1;
}

h1 {
  margin: 0;
  font-size: 22px;
}